* {
    margin: 0px;
}

body {
    background: url(../IMG/imgBG.png) no-repeat center center fixed;
    background-size: cover;
}
/* header */
header {
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: right;
}
header a:link{
    font-family: sans-serif;
    font-size: .8em;
    text-decoration: none;
}


header ul li {
    display: inline-block;
    margin: 10px;
}

#sign-in {
    border-radius: 2px;
    width: 80px;
    height: 35px;
    background-color: tomato;
    color: white;
    position: relative;
    font-size: .8em;
    text-align: cetner;
    font-weight: 600;
    margin: 0px 5px 5px 5px;
    border: 1px solid
}
#content {
    margin-top: 200px !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#intro {
    font-family: 'Leckerli One', cursive;
    margin-right: 15px;
}

#jesus {
    border-radius: 80%;
    display: inline-block;
    width : 180px;
    height: 180px;
    margin: auto;
}


#outline {
    display: flex;
    flex-wrap: wrap;
    /* color:#4876EA; */
    color: #D21714;
    font-size: x-large;
}

#logo {
    clear:both;
    width: 100%;
    text-align: center;
    
}

#search {
    clear:both;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#search-box {
    width: 310px;
    height: 25px;
    border: 1px solid #9999;
    margin: 0px 0px 5px 0px;
    border-radius: 10px;
}

#power-buttons {
    clear: both;
    margin-top: 30px;
}

.button {
    border-radius: 2px;
    width: 140px;
    height: 40px;
    background-color: #f3f3f3;
    color: #686863;
    position: relative;
    font-size: .80em;
    font-family: Arial;
    text-align: center;
    font-weight: 600;
    margin: 0px 5px 5px 5px;
    border: 0px solid white;
}
.button-1 {
    border-radius: 10px;
    font-size: 24px;
}

.button:hover {
    border: 1px solid #a6a6aa;
    cursor: pointer;
}

/* footer */
footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #d1d1d1;
    text-align: right;
    width: 100%;
    background-color: teal;
    margin-top: 0px;
}

footer ul li {
    display: inline-block;
    margin: 10px;
}

#footer-left {
    float: left;
}
#footer-right {
    float: right;
    margin: 30px;
}

footer a:link {
    text-decoration: none; 
    color: #787878;
    list-style-type: none;
    font-family: sans-serif;
    font-size: .8em;
}
