/* body {margin: 0px;} */


.fontAwsomeIcons {
    display: flex;
    flex-direction: row;
}

.fontAwsomeIcons a {
    margin-top: 10px;
    margin-left:  30px;
    margin-right: 30px;
    font-size: 24px;
    color: black;
}
.education {
  
    background: grey;
    height: 150px;
   
    width: auto;
    text-align: center;
    border: solid black
}

#credential {
    /* position:absolute; 
    top:150px; 
    left:125px;
    font-weight: bold;
    font-size: 10px;  */
    /* float: left; */
    text-align: center;

}

.experince{
    background: grey; 
    height: 50px;
    width: auto;
    text-align: center;
    
}

.title {
   width: fit-content;
   height: 100px;
   padding-top: 25px;
   margin-left: 150px;
   text-decoration: none;
}


img {
    float: left;
    height: 100px;
    width: 100px;
    /* border-radius: 120px; */
}



.title a {text-decoration: none;}

.roles {
    color: black;
    font-weight: bold;
}
.roles .ul {
    color: black;
    font-weight: bold;
}


.uni {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

    margin-top: 100px;
    margin-bottom: auto; 
   

}


.coc {
    position: absolute;
    top: 300px;
    right: 50px;
    border: 100px;
}


@media only screen and (max-width: 962px) {
    .coc {
        visibility: hidden; 
    }
    .acc {
        visibility: hidden;
    }
    .keller {
        visibility: hidden;
    }
}

.acc {
    position: absolute;
    top: 400px;
    right: 50px;
    border: 100px;
}

.keller {
    position: absolute;
    top: 550px;
    right: 50px;
    border: 100px;
}

.College {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* grid-template-rows: auto; */
    /* grid-column-gap: 50px; */
    /* grid-template-columns: auto auto; */
    /* grid-auto-flow: row; */
    background-color: gray;
    border: black solid;
    padding: 10px;
}

li {  
    list-style-type: none;
    margin-left: 25px;
    margin-right: auto;
}

  
#tec img {
   float: none;
   border-style: solid;
}


.dropdown-content {
    display: none;
   
}

.dropdown {
    margin: 0px;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: white;
    background-color: gray;
    border-radius: 25px;
    font-weight: bold;

}
